@charset "utf-8"; /* CSS Document */
/* Copyright 2017 */
/* Developed by: Scott Largent@Mindstreams */
/* Client: Eido */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,400,400i,700,700i');
body { color:#0D2240; font-family:'Lato', sans-serif; font-style:normal; font-weight:400; font-size:1em; }
h1, h2, h3, h4, h5, h6 { color:#0D2240; }
  h1 { font-size:1.75em; font-family:'Lato-Bold', 'Lato Bold', 'Lato', sans-serif; font-weight:700; }
  h2 { font-size:1.5em; font-family: 'Lato', 'Lato', 'Lato', sans-serif; font-style:normal; font-weight:400; line-height:0.85em; margin:0px 0px 20px 0px; }
  h3 { font-size:1.25em; font-family:'Lato-Bold', 'Lato Bold', 'Lato', sans-serif; font-weight:700; }
  h4 { font-size:1.125em; font-family:'Lato-Bold', 'Lato Bold', 'Lato', sans-serif; font-weight:700; width:100%; border-bottom:3px solid #3eaf65; padding-bottom:5px; margin-bottom:15px; }
    h4 .active { font-size:0.55em; font-family: 'Lato', 'Lato', 'Lato', sans-serif; font-style:normal; font-weight:400; text-transform:uppercase; margin-top:7px; }
  h5 { font-size:1em; font-family:'Lato-Bold', 'Lato Bold', 'Lato', sans-serif; font-weight:700; color:#0D2240; }
    h5.notification { padding:10px; margin-bottom:28px; border-bottom:1px solid #787878; text-align:center; }
    h5.notification-red { padding:10px; margin-bottom:28px; border-bottom:1px solid #d0021b; text-align:center; color:#d0021b; }
  h6 { font-size:1em; font-family:'Lato', sans-serif; font-weight:normal; font-style:normal; color:#0D2240; }

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'],
[type='url'], [type='color'], textarea, select { color:#0D2240; font-size:14px; font-family: 'Lato', 'Lato', 'Lato', sans-serif; font-style:normal; margin-bottom:0px; }

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus { border:1px solid #979797; background:#e3e3e3; }

[type='file'], [type='checkbox'], [type='radio'] { margin-bottom:0; }

label { color:#0D2240; font-family:'Lato', sans-serif; font-weight:bold; }
  label.middle { margin-bottom:0; }

a, a:link, a:visited { color:#333; text-decoration:underline; }
  a:hover, a:focus { color:#3dae65; }

table { font-size:14px; }
  table i { color:#aeaeae; font-family:'Lato-Bold', 'Lato Bold', 'Lato', sans-serif; font-weight:700; font-size:20px; }
  table a { text-decoration:none !important; }
  table p { margin-bottom:0; line-height:1.4em; }
tr.selected, tr.selected:hover { background:#c9c9c9; }

input::-webkit-input-placeholder { color:#0D2240; }
input::-moz-placeholder { color:#0D2240; }
input:-ms-input-placeholder { color:#0D2240; }
input:-moz-placeholder { color:#0D2240; }

hr { margin:0.9375em 0px; }
  
/* Global Styles */
.grid-container { max-width:61.25em; }
.button, .button:active, .button:visited, .button:focus { background:#3dae65; color:#fff; }
  .button:hover { background:#6b6b6b; }
.grey, .grey:active, .grey:visited, .grey:focus { background:#bcbcbc; color:#fff; }
  .grey:hover { background:#6b6b6b; }

.button-group .fc { margin-right:20px; color:#fff; !important; }
.fc, .fc:active, .fc:visited, .fc:focus { background:#dfdddd; color:#0D2240; padding:.5rem; }
  .fc:hover { background:#6b6b6b; }
/*    .fc:hover img { background:url(../img/icons/add_white.png) no-repeat; } */
    .fc_add { margin-left:10px; }
    .fc_plus { margin-left:10px; }
    .fc_minus { margin-left:10px; }

.red, .red:active, .red:visited, .red:focus { background:#d0021b; color:#fff; }
  .red:hover { background:#6b6b6b; }
.ba, .ba:active, .ba:visited, .ba:focus { background:#d6d6d6; border-top:1px solid #666666; border-bottom:1px solid #666666; width:100% !important; color:#0D2240; text-align:left; }
  .ba:hover { background:#bbbbbb; color:#0D2240; }
  .plus { margin-right:10px; color:#858585;  }
.sas, .sas:active, .sas:visited, .sas:focus { background:#f2f2f2; border-top:1px solid #666666; border-bottom:1px solid #666666; width:100% !important; color:#0D2240; text-align:right; }
  .sas:hover { background:#bbbbbb; color:#0D2240; }
  .minus { margin-left:10px; color:#858585; }
.csv { margin-top:3px; }
.inactive, .inactive:active, .inactive:visited, .inactive:focus { background:#d3d1d1; color:#6b6b6b; }
  .inactive:hover { background:#6b6b6b; }
.stretch { padding:0px 50px; }
.search-btn, .search-btn:focus { background:#fefefe; color:#bbbbbb !important; font-weight:bold; margin-bottom:0; border-top:1px solid #979797; max-height:38px; }
  .search-btn:hover { background:#e3e3e3; color:#020202; }
.search-left { border-right:none; }
  .search-left:focus { background:#e3e3e3; border-right:none; } 
.search-right { border-bottom:1px solid #787878; border-right:1px solid #787878; }
  .nav button { border:none; }
  .off { background:#c9c9c9; color:#6B6B6B; }
    .off:hover { background:#6b6b6b; }
.searchbox { margin:0 15px 0 0; max-width:295px; }
.highlight { font-size:0.875em; }
.smaller { font-size:00.625em; }
.timeline { font-size:0.875em; }
.up { text-transform:uppercase; }
.postfix { width:100%; }
.links, .dropdown-pane { font-size:14px; font-weight:700; }
  .links a, .dropdown-pane a { color:#3dae65; text-decoration:none; }
.links img:first-child { margin-bottom:5px; margin-top:5px; }
.instructions { margin-top:35px; }
.upscale { font-size:18px; }
input.number { width:40px; }
.extra { font-size:28px; }
.ba_pick { margin-left:20px; }

.clear { clear:both; }

/* Header */
.lr-border { border-left:1px solid #787878; border-right:1px solid #787878; }
.logo { max-height:84px; padding:0px; }
.divider { width:1px; height:60px; background:#333; margin:10px 0px 0px 0px; }
.page-title { background:#efefef; font-family:'Lato-Bold', 'Lato Bold', 'Lato'; font-weight:700; font-size:20px; text-align:center; color:#0d2240; padding:10px 0px; }
.navigatiion-bar { background:#dfdddd; color:#fff; z-index:-1; }
.menu { background:#dfdddd; color:#0d2240; padding:10px 0px 10px 48px; }
  .menu a, .menu .button { color:#0d2240; text-decoration:underline; padding:none !important; }
    .menu a:hover { color:#3dae65; }
  .menu li { padding:0px 10px ; border-right:1px solid #0d2240; }
    .menu li.current { font-family:'Lato-Bold', 'Lato Bold', 'Lato'; font-weight:700; }
      .menu li.current a { text-decoration:none; }
    .menu.simple li + li { margin-left:0px; } 
    .menu li:first-of-type { padding-left:0px; }
    .menu li:last-child { border-right:none; }

.return { background:#39f; color:#fff; text-transform:uppercase; font-size:14px; padding:15px 0px 9px 48px; }
  .return a { color:#fff; text-decoration:none;  padding:none !important; font-size:14px; }
.return img { margin-right:10px; margin-top:-4px; }
.page-title-blue { background:#39f; font-family:'Lato', 'Lato', 'Lato'; font-weight:400; font-style:normal !important; font-size:20px; text-align:center; text-transform:uppercase; color:#fff;
	                padding:13px 0px; }

/* Content */
.su, .bulk { min-height:663px; background:#efefef; padding:24px; }
.bulk { font-size:18px; }
.content-full { background:#fff; padding:10px; }

.content-left { background:#fff; padding:20px 0px; border-right:12px solid #efefef; position:relative; }
.name { font-size:18px; line-height:1em; margin:0; }
  .name .small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small { font-family:'Lato', 'Lato', 'Lato'; font-weight:400; font-style:normal; font-size:12px; margin-bottom:10px; }
  .fade { color:#bbbbbb; font-size:18px; margin-right:10px; }
  .fade-right { color:#bbbbbb; font-size:18px; margin-left:10px; }
.divide { border-top:16px solid #efefef; padding:20px 0px;  }

.split { width:23px !important; }

.content-right { background:#fff; padding:20px 0px; border-left:12px solid #efefef; }
  .content-right h3 { padding:0 0.825rem 0.825rem 0.825rem; border-bottom:1px solid #d3d1d1; }
.field { padding:0 0.825rem 0 0.825rem; }
.field_bdr { padding:0 0.825rem 0.825rem 0.825rem; border-bottom:1px solid #d3d1d1; }
hr.field { padding:0 0.825rem 0.825rem 0.825rem; border-bottom:1px solid #d3d1d1; }

.no-label { margin-top:35px; left:-10px; }  
.input-group-button.default { margin-left:5px; }
.content-right .input-group-label { background:none; border:none; }
.option { margin-top:30px; border-top:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb; }
.option p {  padding:20px 18px; }
.back { font-size:14px; margin:0px 0px 20px 0px; width:100%; padding:0 0.825rem 0.825rem 0.825rem; border-bottom:1px solid #bbbbbb; }
  .back img { margin-right:10px; }

.sort { list-style-type:none; margin:0; }
  .sort li { padding:8px; background:#e3e3e3; color:#6b6b6b; margin-bottom:10px; }
    .sort-icon { color:#bbbbbb; font-family:'Lato-Bold', 'Lato Bold', 'Lato', sans-serif; font-weight:700; }
    .move { margin-right:25px; }
  .sort li.add { padding:0; background:#fff; }
    .add-survey { color:#bbb; background:#fff; font-size:28px; border:3px dashed #bbb; margin-bottom:0px; padding-top:7px; padding-bottom:7px; }

.plus-minus-input { -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.plus-minus-input .input-group-field { text-align:center; padding:0.8em; }
.plus-minus-input .input-group-field::-webkit-inner-spin-button, .plus-minus-input .input-group-field::-webkit-outer-spin-button { -webkit-appearance:none; appearance:none; }

p.directive { font-size:18px; padding:24px; border-top:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; width:100%; margin:50px 0px; text-align:left; }
  p.directive img { margin-top:5px; }
  p.directive { text-decoration:none; }
p.multi-directive { font-size:18px; padding:24px; border-top:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; width:100%; margin:0px 0px 0px 0px; text-align:left; }
  p.multi-directive img { margin-top:5px; }
  p.multi-directive { text-decoration:none; }
.md { margin:50px 0px; }
.no-u { text-decoration:none !important; }

.logo-thumb { border:1px solid #787878; padding:15px; }

/* Footer */
.footer { height:100px; background:#a1a1a1; color:#333; font-size:13px; line-height:1em; padding:20px; }
.footer p { line-height:1.25em; margin:0px 0px 5px 0px; }
.footer a { color:#333; text-decoration:underline; }
  .footer a.white { color:#fff; }
    .footer a:visited, .footer a.white:visited { text-decoration:none; }


/* Media Queries */
@media only screen and (max-width:640px)
{
  .menu { font-size:11px; padding-left:5px; }
	.links { margin-top:0; padding-left:48px; }
  .footer { height:200px; }	
	.footer p { text-align:left !important; }
  .content-left, .content-right { border:none; }
	.stretch { padding:0px 20px; }
}
