/**
* Jayme Skeen's additions start here
* Date: 4/24/2018
**/
.superuser .page-title {
  background: #3DAE65;
  color: #fff;
  text-transform: uppercase;
}
.superuser .navigation-bar,
.superuser .menu.simple {
  background: #3DAE65;
}
.superuser .navigation-bar li,
.superuser .menu.simple li,
.superuser .navigation-bar a,
.superuser .menu.simple a {
  color: #fff;
  text-transform: uppercase;
}
.superuser .navigation-bar li,
.superuser .menu.simple li {
  border-right-color: #fff;
}
.back-row {
  background: #DDDDDD;
  padding: 8px 0 8px 10px;
}
.back-row a {
  font-family: 'Lato-Light', 'Lato Light', 'Lato', sans-serif;
  color: #0D2240;
}
.back-row a i {
  top: 1px;
  position: relative;
  color: #ababab;
}
.page-title {
  border-bottom: solid #E3DDDF 1px;
}
.tab-actions {
  border: none;
  background: transparent;
  margin-bottom: 20px;
}
.btn-actions {
  margin-left: 18px;
  font-size: 12px;
  vertical-align: middle;
  padding: 10px !important;
  background: #ddd;
}
.btn a {
  font-family: 'Lato-Light', 'Lato Light', 'Lato', sans-serif;
  color: #0D2240;
}
.btn-actions a {
  font-family: 'Lato-Light', 'Lato Light', 'Lato', sans-serif;
  color: #0D2240;
}
.btn-actions i {
  position: relative;
  top: -1px;
  font-size: 20px;
  color: #ababab;
  display: inline-block;
  vertical-align: text-top;
}
.btn-actions:hover,
.btn-actions:active,
.btn-actions:focus {
  background: #0D2240;
  color: #fff;
}
.column-first {
  padding-left: 18px;
}
.grid-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.grid-header strong {
  position: relative;
  top: 14px;
}
.grid-header strong.no-check {
  top: 0;
  left: 10px;
}
/**
override shit tab
 */
.tabs-title {
  display: inline !important;
  float: none !important;
}
.tabs-title a {
  display: inline;
}
.tabs-title a:hover,
.tabs-title a:active,
.tabs-title a:focus {
  background: #0D2240;
  color: #fff;
}
.tabs-title.is-active a {
  color: #0D2240;
  background: #ddd;
}
.tabs-content {
  border: 0;
}
#ResetFilter {
  position: relative;
  top: -2px;
}
div.sort:first-of-type {
  padding-top: 5px !important;
}
.datepicker td span.active,
.datepicker td.active.day,
.datepicker td.active.year {
  background: #3DAE65 !important;
  color: #fff;
  border-radius: 50%;
}
.datepicker.dropdown-menu,
.datepicker,
.datepicker-days,
.datepicker-days tbody,
.datepicker td,
.datepicker th {
  background: #F7F5F5;
}
.datepicker.dropdown-menu {
  border-radius: 0;
  border: 1px solid #979797;
}
.datepicker.dropdown-menu:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 16px 16px 16px;
  border-color: transparent transparent #979797 transparent;
  content: '';
  top: -16px;
  left: 10px;
  position: absolute;
}
.datepicker.dropdown-menu:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 16px 15px;
  border-color: transparent transparent #f7f5f5 transparent;
  content: '';
  top: -15px;
  left: 11px;
  position: absolute;
}
.ui-sortable-handle span.not-allow-move {
  text-overflow: ellipsis;
  overflow: hidden;
}
.pagination li {
  border-radius: 0 !important;
}
/*# sourceMappingURL=skeen_eido.css.map */