/**
* Jayme Skeen's additions start here
* Date: 4/24/2018
**/
//
//.patient-list {
//	list-style: none;
//	margin:0;
//	padding:0;
//	li {
//		display: block;
//		border-bottom:1px solid #D3D1D1;
//		padding:0;
//		margin:0;
//		a {
//			position: relative;
//			display: block;
//			padding:10px 10px;
//
//			&:hover, &:focus {
//				background:#F7F5F5;
//				cursor: pointer !important;
//				color:#333;
//			}
//			p {
//				margin-bottom:0 !important;
//			}
//		}
//		&:before {
//
//		}
//		.uc {
//			font-weight:bold;
//			font-size:20px;
//		}
//
//		&:last-child {
//			border-bottom: none !important;
//		}
//
//		&.selected {
//			background: #D3D1D1;
//		}
//		i {
//			font-size:16px;
//			color:#A1A1A1;
//		}
//
//	}
//	.right-arrow {
//		right:15px;
//		top:42%;
//		position: absolute;
//		margin-right:5px;
//	}
//}
//
//.content-right {
//	padding:18px 0 20px 0 !important;
//}
//.inactive {
//	&:hover {
//		color:#fff !important;
//	}
//}
//
//.padding-10 {
//	padding:5px 10px;
//}
//
//
//.row {
//	&:after, &:before {
//		clear:both;
//		content:'';
//	}
//}
//
//.aux_help {
//	i {
//		font-size:30px;
//	}
//}
//
//.links {
//	a {
//		vertical-align: top;
//		i {
//			font-size:20px;
//			margin-right:10px;
//		}
//	}
//
//}
//
//.clear-icon {
//	color:#000;
//	opacity:0.2;
//	&:hover, &:focus {
//		opacity:0.3;
//		color:#000;
//	}
//	i {
//		top:11px !important;
//
//	}
//
//}
//
//.btn-back {
//	font-size:18px;
//	color:#a4a4a4 !important;
//	display:block;
//	i {
//		color:#A4A4A4;
//		font-size:16px;
//	}
//}
//
//.sub-text {
//	display:block;
//	font-size:14px !important;
//}
//
//label {
//	font-weight:normal !important;
//}
//
//.su .content-right form hr {
//	margin:27px -20px !important;
//}
//
//.button {
//	font-weight: bold;
//}
//
//a.off_status {
//	&.selected {
//		background:#D0021B !important;
//	}
//}
//
//.button.on_status {
//	border-left: none !important;
//	border-right:5px solid #3dae65;
//}
//
//.main_menu {
//	.button, .button:hover, .button:active, .button:focus {
//		background:#0d2240 !important;
//		color: #fff !important;
//		border: none !important;
//		font-size:15px;
//		width: 40px;
//		height:40px;
//		line-height:5px;
//		margin:10px auto;
//
//	}
//
//	&:before {
//		width: 0;
//		height: 0;
//		border-style: solid;
//		border-width: 0 16px 16px 16px;
//		border-color: transparent transparent #979797 transparent;
//		content:'';
//		top:-16px;
//		left:10px;
//		position: absolute;
//	}
//	&:after {
//		width: 0;
//		height: 0;
//		border-style: solid;
//		border-width: 0 15px 16px 15px;
//		border-color: transparent transparent #f7f5f5 transparent;
//
//		content:'';
//		top:-15px;
//		left:11px;
//		position: absolute;
//	}
//}
//
//.basic-list {
//	margin:0;
//	padding:0;
//	li {
//		display:block;
//		margin:0;
//		padding:0;
//		border-top:1px solid #979797;
//		border-bottom: none !important;
//		a {
//			&:hover, &:active, &:focus {
//				background: #d3d1d1;
//			}
//			padding:10px 10px;
//			display:block;
//		}
//
//		&:last-child {
//		}
//	}
//
//}

@greenBG: #3dae65;
@fontColor: #0d2240;

.superuser {
	.page-title {
		background: @greenBG;
		color: #fff;
		text-transform: uppercase;
	}

	.navigation-bar, .menu.simple {
		background: @greenBG;
		li, a {
			color: #fff;
			text-transform: uppercase;
		}
		li {
			border-right-color: #fff;
		}
	}
}

.text-dim {
	color:#D2D2D2 !important;
}

.back-row {
	&.back-row-head {
		background: #dddddd;
	}
	padding: 8px 0 8px 20px;
	a {
		font-family: 'Lato-Light', 'Lato Light', 'Lato', sans-serif;
		color: @fontColor;
		i {
			top: 1px;
			position: relative;
			color: (#ddd - 50)
		}
	}
}

.page-title {
	border-bottom: solid #e3dddf 1px;
}

.tab-actions {
	border: none;
	background: transparent;
	margin-bottom: 20px;

}

.btn-actions {
	margin-left: 18px;
	font-size: 12px;
	vertical-align: middle;
	padding: 10px !important;
	background: #ddd;

	i {
		position: relative;
		top: -1px;
		font-size: 19px;
		color: (#ddd - 50);
		display: inline-block;
		vertical-align: text-top;
	}

	&:hover, &:active, &:focus {
		background: @fontColor;
		color: #fff;

	}
}

.column-first {
	padding-left: 18px;
}

.grid-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	strong {
		position: relative;
		top: 14px;

		&.no-check {
			top: 0;
			left: 10px;
		}
	}
}

/**
override shit tab
 */
.tabs-title {
	display: inline !important;
	float: none !important;
	a {
		display: inline;
		&:hover, &:active, &:focus {
			background: @fontColor;
			color: #fff;

		}

	}

	&.is-active {
		a {
			color: @fontColor;
			background: #ddd;
		}
	}
}

.tabs-content {
	border: 0;
}

#ResetFilter {
	position: relative;
	top: -2px;
}

div.sort:first-of-type {
	padding-top: 5px !important;
}

//for the map
.datepicker td span.active, .datepicker td.active.day, .datepicker td.active.year {
	background: #3dae65 !important;
	color: #fff;
	border-radius: 50%;

}

.datepicker.dropdown-menu, .datepicker, .datepicker-days, .datepicker-days tbody, .datepicker td, .datepicker th {
	background: #f7f5f5;
}

.datepicker {

	&.dropdown-menu {
		border-radius: 0;
		border: 1px solid #979797;
		&:before {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 16px 16px 16px;
			border-color: transparent transparent #979797 transparent;
			content: ' ';
			top: -16px;
			left: 10px;
			position: absolute;
			z-index: 99999;
		}
		&:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 15px 16px 15px;
			border-color: transparent transparent #f7f5f5 transparent;

			content: ' ';
			top: -15px;
			left: 11px;
			position: absolute;
			z-index: 99999;
		}
	}
}

.ui-sortable-handle {
	span.not-allow-move {
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

.pagination li {
	border-radius: 0 !important;
}

.patient-list {
	p > span {
		line-height: 1.2;
	}

	.uc {
		font-size:16px !important;
	}
}

.input-group-field {
	padding: 0.78em !important;
}

h4.vertical-middle {
	position: relative;
	top: 11px !important;
}

.btn-pre {
	padding: 8px 30px;
}

.btn-header.type {
	text-indent: 6px;

	&:hover, &:focus, &:active {

	}

}

.padding-right-column {
	padding: 0 20px !important;

	.standard-hr {
		margin: 0 0 !important;
	}
}

.standard-hr {
	border-bottom: 1px solid #d3d1d1;
	padding: 0;
	line-height: 1px;
	background: transparent !important;
}

.standard-padding {
	padding: 0 20px;
	&.two-x {
		padding:0 45px;
	}
}

.standard-margin-bottom {
	margin-bottom:10px !important;
}

.link-standard-color {
	color: @fontColor !important;
	text-decoration: none !important;
	&:focus, &:hover, &:active {
		//text-decoration: underline !important;
		color:#f5a623 !important;
	}
}

.link-active {
	color: @greenBG !important;
	text-decoration: underline !important;
	&:focus, &:hover, &:active {
		//text-decoration: underline !important;
		color: @greenBG !important;
	}
}

.standard-weight {
	font-weight: normal;
}
.standard-border-bottom {
	border-bottom:1px solid #D3D1D1;
}

.link-full-block {
	display:block;
	text-decoration: none !important;
	//default font sizes
	line-height:1.4em;
	font-size:14px;
	&:hover, &:focus, &:active {
		background: #F7F5F5;
		color:#333;
	}

	p {
		line-height:1.4em;
		font-size:14px;
	}
}

.org-logo {
	vertical-align: middle;
	padding-right: 5px;
	img {
		background: #f5f5f5;
		border: 1px solid #797979;
	}

	.button {
		margin-top: 30px;

	}

}

.btn-block {
	width: 100%;
	display: block;
}

.grid-padding-15 {
	padding-top: 15px;
	padding-bottom: 15px;

}

.eido-radio {
	display: inline;
	position: relative;
	cursor: pointer;
	font-size: 22px;
	z-index: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 8px 15px;
	margin-right: 5px;
	background-color: #e4e4e4;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		&:checked {
			~ .checkmark {
				display: block;
			}

			~ .text {
				color: #fff;
				position: relative;
				z-index: 2;
			}
		}
	}

	.text {

	}
	.checkmark {
		position: absolute;
		padding: 5px 10px;
		background-color: #c9c9c9;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		display: none;

	}
}

/** timeline stuff */

.patientcontent .timeline::before {
	display: none !important;
}

.timeline-wrapper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	&:before {
		width: 5px;
		height: 100%;
		position: absolute;
		content: '';
		top: 0;
		left: 13px;
		margin-left: 0;

		background: #ccc;
	}
}

.timeline-right .timeline-icon, .timeline-right .timeline-icon-cs, .timeline-right .timeline-icon-green {
	top: 50% !important;
	margin-top: -11px !important;
}
.timeline a {
	&:hover {
		box-shadow: none !important;
	}
}

/** similiar to .patient-list */
.patient-data {
	position: relative;
	p {
		margin-bottom:0;
	}
	.right-arrow {
		right: 15px;
		top: 42%;
		position: absolute;
		margin-right: 5px;
		i {
			font-size: 16px;
			color: #a1a1a1;
		}
	}

	.link-full-block, > div {
		padding-top:0.825rem;
		padding-bottom:0.825rem;
	}
}

.note-bell {
	h3 {
		margin:0 20px !important;
		padding:0 !important;
	}

}

.notification-bell {
	margin:0px 0;
	padding:25px 0;
	background: #e4e4e4;
	.icon {
		font-size:110px;
		margin-bottom:8px;
		i {
			display:inline-block;
			transform: rotate(-15deg);
			color:#bcbcbc;

		}
	}

	h3 {
	}
}

.eido-block-radio {
	display:block;
	position: relative;
	background:#F2F2F2;
	margin-bottom:5px;
	font-size:14px;
	padding:10px;
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.entry {
		display:block;
		padding-left:30px;
	}
	.separator {
		display:inline-block;
		border-left:1px solid #C9C9C9;
		margin-left:10px;
		padding-left:25px;
	}

	&:before {
		content: '';
		position:absolute;
		left:0;
		top:0;
		height:100%;
		width:12px;
		background:@greenBG;
	}

	&.active {
		background:#E4E4E4;
		&:before {
			background:#66CCFF;
		}
	}

	&.dim:before {
		background:#D7D7D7;
	}

	input[type='text'] {
		border:none !important;
		height:24px;

	}

}

.eido-simple-radio {
	display:block;
	position: relative;
	top:2px;
	left:-25px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;

		&:checked {
			~ .checkmark {
				background:@greenBG;


				//need the checkmark
				&:after {
					display:block;
					content:'';
					position:absolute;
					left:5px;
					top:2px;
					width:8px;
					height:12px;
					border:solid #eee;
					border-width:0 3px 3px 0;
					transform:rotate(45deg);
				}
			}
		}
	}

	.checkmark {
		position:absolute;
		width:22px;
		height:22px;
		border-radius: 50%;
		border:2px solid @greenBG;
		margin:0;

	}


}


p.small {
	font-size:12px;

}

#Notifications {
	list-style: none !important;
	margin:0;
	padding:0;
	li {
		margin:0 0px 5px 0;
		padding:0;
		a {
			background:#D7D7D7;
			position: relative;
			padding:5px 0;
		}
	}

	p {
		padding-left:66px;
		margin-bottom:0 !important;
	}

	.n-icon {
		position: absolute;
		top:0;
		left:0;
		height:100%;
		width:50px;
		background:#BC271A;
		i {
			color:#fff;
			font-size:20px;
			position: absolute;
			top:50%;
			left:50%;
			margin-left:-10px;
			margin-top:-9px;

			&.fa {
				font-size:40px;
				margin-left:-8px;
				margin-top:-18px;
			}
		}
	}

	.right-arrow {
		right: 15px;
		top: 50%;
		margin-top:-9px;
		position: absolute;
		display: inline-block;
		height: 100% !important;
		i {
			font-size:20px;
			color:#959595;
			display: inline;
			vertical-align: middle;
		}
	}

}

.registration {
	label {
		font-weight:bold !important;
	}

	input[type='text'] {
		border:none !important;
	}

	.button {
		&.large {

			padding:0.85em 50px !important;
		}
	}

	.input-group {
		small.error {
			top: 10px;
			position: relative;
		}
	}

	.adjust.eido-checkbox {
		font-size:14px;
		display: block;
		margin-left:10px;
		line-height: 1.3em;
	}
}


.input-bg-white {
	background:#fff !important;
}

.label-dob {
	margin-bottom:40px !important;
}

.select {
	position: relative;
	margin-right:20px;

	select {
		padding-right:40px !important;
		color:#9b9b9b;

	}
	display: inline-block;
	&:after {
		width:14px;
		height:14px;
		content:'';
		position: absolute;
		display:block;
		top:50%;
		margin-top:-3px;
		right:5px;
		border:solid;
		border-width:7px 7px 0 7px;
		border-color:#9B9B9B transparent transparent transparent;

	}
}

/**
fixes for messed up styling on the right content
 */
.content-right {
	h3 {
		margin:0 0 0 -20px;
		padding:0 20px 0 40px;
	}
	.field {
		margin:0;
		padding:0;
	}
}

.section-title {
	padding: 0 20px 12px 20px;

	&.title-match-form-margin {
		margin-left:0px;
		margin-right:0px;
		padding:0 40px 12px 35px;
	}
}

.su .content-right form {
	.section-title {
		margin-left:-20px;
		margin-right:-20px;
		padding:0 40px 12px 35px;
	}
}

.position-top-10 {
	position: relative;
	top:10px;
}

.no-margin {
	margin:0 !important;
}


.padding-bottom-1 {
	padding-bottom:10px !important;
}

/**
super user dashboard
 */
.menu.simple.show-for-medium {
	> li > a {
		text-decoration: underline;
	}
}



